.sm_w2_1.sm_w2_1horizontal_770 .sm_w2_1compare.sm_w2_1three-tbl tr td.sm_w2_1first-call a {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 114px;
	min-width: 114px;
}